body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #F5D6DF;
}
a {
    text-decoration: none;
    color: black;
}





div#social-network {
    background-color: #EFB9C9;
    height: 32px;
    padding: 5px 0 5px 5px;
}
div#social-network a#client {
    display: inline;
    float: right;
    padding: 0px 25px 0 0;
    font-size: larger;
}
div#social-network a img {
    height: 32px;
    padding-right: 15px;
}




div#menu {
    background-color: #D47491;
}
div#menu ul {
    margin: 0;    
    padding: 10px 0 10px 10%;
}
div#menu ul li {
    display: inline;
    padding-right: 35px;
    font-size: 17px;
}
div#menu #shop {
    float: right;
    height: 32px;
    padding-top: 4px;
    padding-right: 1%;
}


#banner {
    width: 100%;
}
#pop {
    text-align: center;
}

